@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.container {
  padding: 0 20px
}
.page {
  margin-top: 135px
}
.title {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
  text-align: center
}
.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  padding: 20px 0 20px;
  background-color: #fff;
  overflow: hidden;
  transition: all .5s ease
}
.scrolled .header {
  height: 80px;
  box-shadow: 0 0 15px rgba(0,0,0,.2)
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a6a6a6;
  transition: all .5s ease
}
.scrolled .header__top {
  border-color: transparent
}
.header__logo {
  height: 25px
}
.header__content {
  display: none
}
.header__contacts {
  display: flex;
  justify-content: center;
  gap: 8px
}
.header__contact {
  display: flex;
  align-items: center;
  gap: 4px
}
.header__contact img {
  width: 10px;
  height: 10px
}
.header__contact span {
  font-size: 10px;
  line-height: 125%;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  transition: color .5s ease
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 10px
}
.header__button {
  position: relative;
  padding: 11px 8px;
  font-size: 10px;
  line-height: 125%;
  font-weight: 600;
  color: #fff;
  border-radius: 35px;
  overflow: hidden
}
.header__button::after,
.header__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#00e167 0,#179ba3 100%);
  transition: all .5s ease
}
.header__button::before {
  width: calc(100% + 10px);
  background: linear-gradient(to left,#00e167 0,#179ba3 100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.header__menu-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 22px
}
.header__menu-open span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000
}
.header__bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px
}
.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 27px;
  background-color: #fff;
  box-shadow: 0 4px 70px rgba(0,0,0,.33);
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  transition: all .5s ease
}
.menu-open .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.menu__close {
  position: absolute;
  top: 35px;
  right: 20px;
  width: 30px;
  height: 30px
}
.menu__close span {
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 10px);
  width: 20px;
  height: 3px;
  background-color: #000
}
.menu__close span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.menu__close span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 13px
}
.menu__list-item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.menu__contact {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 12px 38px;
  border-radius: 9px
}
.menu__contact.kiyv {
  background-color: #00a0e4
}
.menu__contact.vod {
  background-color: #ed1b2d
}
.menu__contact.life {
  background-color: #ffc40c
}
.menu__contact img {
  width: 22px;
  height: 22px
}
.menu__contact span {
  font-size: 17px;
  line-height: 21px;
  color: #fff
}
.preview {
  padding: 20px 0 35px
}
.preview__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  border-radius: 30px;
  overflow: hidden
}
.preview__image picture {
  position: relative;
  height: 100%;
  width: 100%
}
.preview__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.swiper-pagination-bullet {
  width: 28px;
  height: 7px;
  background-color: #f8e0e1;
  border-radius: 35px;
  cursor: pointer;
  transition: all .5s ease
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ed1b24;
  cursor: default
}
.news {
  padding: 35px 0 15px
}
.news__title {
  margin-bottom: 20px
}
.news__slider {
  margin: 0 -20px;
  padding: 20px 0
}
.news__item {
  padding-bottom: 20px;
  width: 250px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(167,188,201,.5);
  overflow: hidden
}
.news__item-image {
  position: relative;
  margin-bottom: 10px;
  padding-top: 65%;
  overflow: hidden
}
.news__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.news__item-date {
  margin-bottom: 12px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 125%;
  color: #575757
}
.news__item-title {
  margin-bottom: 12px;
  padding: 0 12px;
  font-size: 17px;
  line-height: 125%;
  font-weight: 700
}
.news__item-text {
  padding: 0 12px;
  font-size: 12px;
  line-height: 125%;
  color: #74767a
}
.news__pagination {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 10px
}
.news__pagination.swiper-pagination-lock {
  display: none
}
.tariff {
  padding: 35px 0 15px
}
.tariff__title {
  margin-bottom: 18px
}
.tariff__subtitle {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #74767a
}
.tariff__slider {
  margin: 0 -20px;
  padding: 20px 0
}
.tariff__item {
  position: relative;
  width: 280px;
  height: 450px;
  -webkit-perspective: 1000px;
  perspective: 1000px
}
.tariff__item:nth-child(3n) .tariff__item-back::after,
.tariff__item:nth-child(3n) .tariff__item-front::after {
  background: linear-gradient(to bottom right,#f8ee00 0,#c09526 30%,#d5ca69 60%,#1b1d21 100%)
}
.tariff__item:nth-child(3n+1) .tariff__item-back::after,
.tariff__item:nth-child(3n+1) .tariff__item-front::after {
  background: linear-gradient(to bottom right,#ae4db2 0,#c02675 30%,#a969d5 60%,#1b1d21 100%)
}
.tariff__item:nth-child(3n+2) .tariff__item-back::after,
.tariff__item:nth-child(3n+2) .tariff__item-front::after {
  background: linear-gradient(to bottom right,#00aa25 0,#26a4c0 30%,#a969d5 60%,#69d587 100%)
}
.tariff__item.flip .tariff__item-wrapper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  cursor: pointer
}
.tariff__item.flip .tariff__item-front {
  z-index: 1
}
.tariff__item.flip .tariff__item-back {
  z-index: 2
}
.tariff__item.tv {
  height: 480px
}
.tariff__item.tv .tariff__item-back::before,
.tariff__item.tv .tariff__item-front::before {
  background: linear-gradient(to bottom,rgba(27,29,33,0) 0,rgba(14,36,81,.8) 40%)
}
.tariff__item.tv:nth-child(3n) .tariff__item-back::after,
.tariff__item.tv:nth-child(3n) .tariff__item-front::after {
  background: url(../img/tariff-tv-bg01.webp) center/cover no-repeat
}
.tariff__item.tv:nth-child(3n+1) .tariff__item-back::after,
.tariff__item.tv:nth-child(3n+1) .tariff__item-front::after {
  background: url(../img/tariff-tv-bg02.webp) center/cover no-repeat
}
.tariff__item.tv:nth-child(3n+2) .tariff__item-back::after,
.tariff__item.tv:nth-child(3n+2) .tariff__item-front::after {
  background: url(../img/tariff-tv-bg03.webp) center/cover no-repeat
}
.tariff__item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease
}
.tariff__item-back,
.tariff__item-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  padding: 45px 12px 60px;
  text-align: center;
  color: #fff;
  border-radius: 36px;
  box-shadow: 0 0 20px rgba(167,188,201,.53);
  overflow: hidden;
  transition: all .5s ease
}
.tariff__item-back::after,
.tariff__item-front::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.tariff__item-back::before,
.tariff__item-front::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: linear-gradient(to bottom,rgba(27,29,33,0) 0,#0e2451 100%)
}
.tariff__item-front {
  z-index: 2
}
.tariff__item-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1
}
.tariff__item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left
}
.tariff__item-item {
  display: flex;
  align-items: center;
  gap: 6px
}
.tariff__item-item img {
  width: 24px;
  height: 24px
}
.tariff__item-item span {
  font-size: 16px;
  line-height: 24px
}
.tariff__item-image {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 110%;
  opacity: .28;
  -o-object-fit: cover;
  object-fit: cover
}
.tariff__item-content {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%
}
.tariff__item-title {
  margin-bottom: 24px;
  font-size: 27px;
  line-height: 125%;
  font-weight: 700
}
.tariff__item-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 125%;
  font-weight: 600
}
.tariff__item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 74px;
  padding: 8px 12px;
  background-color: rgba(255,255,255,.53);
  border-radius: 11px
}
.tariff__item-info img {
  width: 41px;
  height: 41px
}
.tariff__item-info span {
  font-size: 20px;
  line-height: 125%;
  font-weight: 500
}
.tariff__item-cost {
  margin-bottom: 28px;
  font-size: 27px;
  line-height: 125%;
  font-weight: 700
}
.tariff__item-button {
  display: inline-block;
  padding: 8px 30px;
  font-size: 22px;
  line-height: 125%;
  font-weight: 500;
  background-color: red;
  border-radius: 60px;
  transition: all .5s ease
}
.tariff__pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px
}
.tariff__pagination.swiper-pagination-lock {
  display: none
}
.services {
  padding: 35px 0
}
.services__title {
  margin-bottom: 35px
}
.services__slider {
  margin: 0 -20px
}
.services__item {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 19px;
  width: 285px;
  background-color: #f4f8fb;
  border-radius: 18px
}
.services__item-image {
  position: relative;
  margin-bottom: 20px;
  padding-top: 55%;
  border-radius: 12px;
  overflow: hidden
}
.services__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.services__item-title {
  flex: 1 1 auto;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700
}
.services__item-cost {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  font-size: 35px;
  line-height: 125%;
  font-weight: 600;
  text-align: center;
  color: #ed1b24
}
.services__item-cost span {
  font-size: 16px
}
.services__pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px
}
.services__pagination.swiper-pagination-lock {
  display: none
}
.contacts {
  margin-top: 35px;
  padding-top: 30px;
  background: url(../img/contact-bg-mob.webp) center/cover no-repeat
}
.contacts__title {
  margin-bottom: 40px
}
.contacts__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 12px 20px;
  max-width: 360px;
  border-radius: 9px;
  transition: all .5s ease
}
.contacts__item.kiyv {
  background-color: #00a0e4;
  border: 1px solid #00a0e4
}
.contacts__item.vod {
  background-color: #ed1b2d;
  border: 1px solid #ed1b2d
}
.contacts__item.life {
  background-color: #ffc40c;
  border: 1px solid #ffc40c
}
.contacts__item.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  background-color: rgba(255,255,255,.7);
  border: 1px solid rgba(255,255,255,.7)
}
.contacts__item svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: all .5s ease
}
.contacts__item span {
  font-size: 30px;
  line-height: 125%;
  white-space: nowrap;
  color: #fff;
  transition: all .5s ease
}
.contacts__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700
}
.contacts__item-schedule {
  font-size: 15px;
  line-height: 18px
}
.contacts__image {
  max-width: 340px
}
.contacts__image img {
  width: 100%
}
.footer {
  padding: 50px 0;
  font-size: 16px;
  line-height: 12%;
  text-align: center
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:23.43625em) {
  .header__contacts {
    gap: 8px 11px
  }
  .header__contact {
    gap: 5px
  }
  .header__contact span {
    font-size: 12px
  }
  .header__button {
    padding: 11px 14px;
    font-size: 14px
  }
}
@media (min-width:29.99875em) {
  .header__top {
    gap: 14px;
    height: 100%
  }
  .header__controls {
    gap: 14px
  }
}
@media (min-width:47.99875em) {
  .news__slider {
    padding: 20px
  }
  .news__item {
    width: auto
  }
  .services__slider {
    margin: 0
  }
}
@media (min-width:61.99875em) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 950px
  }
  .page {
    margin-top: 110px
  }
  .title {
    font-size: 34px
  }
  .header {
    height: 110px
  }
  .scrolled .header {
    height: 110px
  }
  .header .container {
    height: 100%
  }
  .header__top {
    padding: 0;
    border-bottom: none
  }
  .header__logo {
    height: 35px
  }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px
  }
  .header__contacts {
    gap: 20px
  }
  .header__contact:hover span {
    color: #ed1b24
  }
  .header__contact img {
    width: 14px;
    height: 14px
  }
  .header__menu {
    display: flex;
    gap: 14px
  }
  .header__menu-item:hover {
    color: #ed1b24
  }
  .header__menu-item {
    font-size: 14px;
    line-height: 125%;
    font-weight: 600;
    transition: color .5s ease
  }
  .header__button:hover::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  .header__button:hover::before {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .header__button {
    padding: 11px 24px;
    font-size: 14px
  }
  .header__menu-open {
    display: none
  }
  .header__bottom {
    display: none
  }
  .swiper-pagination-bullet:hover {
    background-color: #ed1b24
  }
  .news__slider {
    margin: 0 -10px;
    padding: 20px 10px
  }
  .tariff__slider {
    margin: 0
  }
  .tariff__item-button:hover {
    background-color: #fff;
    color: red
  }
  .contacts {
    background: url(../img/contact-bg.webp) center top 112px/cover no-repeat
  }
  .contacts__body {
    flex-direction: row;
    padding: 20px 0
  }
  .contacts__content {
    flex: 0 0 calc(50% - 10px);
    align-items: center
  }
  .contacts__item {
    padding: 12px 30px;
    width: 360px;
    max-width: none
  }
  .contacts__item:hover {
    background-color: #fff
  }
  .contacts__item:hover.kiyv svg {
    fill: #00a0e4
  }
  .contacts__item:hover.kiyv span {
    color: #00a0e4
  }
  .contacts__item:hover.vod svg {
    fill: #ed1b2d
  }
  .contacts__item:hover.vod span {
    color: #ed1b2d
  }
  .contacts__item:hover.life svg {
    fill: #ffc40c
  }
  .contacts__item:hover.life span {
    color: #ffc40c
  }
  .contacts__image {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: -20px;
    max-width: none
  }
}
@media (min-width:79.99875em) {
  .container {
    width: 1200px
  }
  .title {
    font-size: 28px
  }
  .header__logo {
    height: 45px
  }
  .header__contacts {
    gap: 38px
  }
  .header__contact {
    gap: 6px
  }
  .header__contact img {
    width: 16px;
    height: 16px
  }
  .header__contact span {
    font-size: 16px
  }
  .header__menu {
    gap: 16px
  }
  .header__menu-item {
    font-size: 16px
  }
  .header__button {
    padding: 11px 36px;
    font-size: 16px
  }
  .preview {
    padding: 10px 0 30px
  }
  .news {
    padding: 30px 0 20px
  }
  .news__title {
    margin-bottom: 35px
  }
  .news__item-image {
    margin-bottom: 15px;
    padding-top: 70%
  }
  .news__item-date {
    margin-bottom: 9px;
    font-size: 16px
  }
  .news__item-title {
    margin-bottom: 17px;
    font-size: 20px
  }
  .news__item-text {
    font-size: 14px
  }
  .tariff {
    padding: 40px 0 20px
  }
  .tariff__title {
    margin-bottom: 35px
  }
  .tariff__subtitle {
    margin-bottom: 15px
  }
  .tariff__item-back,
  .tariff__item-front {
    padding: 50px 14px
  }
  .tariff__item-title {
    margin-bottom: 34px
  }
  .tariff__item-subtitle {
    margin-bottom: 21px;
    font-size: 20px
  }
  .tariff__item-info {
    margin-bottom: 63px
  }
  .tariff__item-info span {
    font-size: 22px
  }
  .tariff__item-cost {
    margin-bottom: 24px;
    font-size: 30px
  }
  .tariff__item-button {
    padding: 8px 40px;
    font-size: 27px
  }
  .services {
    padding: 40px 0 50px
  }
  .contacts {
    background: url(../img/contact-bg.webp) center top 92px/cover no-repeat
  }
  .contacts__title {
    margin-bottom: 30px
  }
  .contacts__body {
    padding: 0
  }
  .contacts__image {
    margin-bottom: 0
  }
  .footer {
    padding: 75px 0;
    font-size: 25px
  }
}